/* image display aniation */
img { transition: all .2s ease-in-out; }

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* generic formatting refernce: w3school.com */
.bd_l0_maindisplay img:hover { transform: scale(3); }
/* column and row styling for responsive display */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  animation: slideUp 1s ease-in-out;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;

  outline: solid 4px white;
  border-radius: 20px;
}

/* formatting adjustment mobile phones: */
@media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
