
/* overall sizing reference*/
* {
    box-sizing: border-box;
}
  

/* overall hyper link stylings */
a {
    color: rgb(78, 78, 78);
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
}

nav{
    font-weight: bold;
    font-size: 28px;
}


/* social media links (no longer used) */
.bd_l0_socialmedia a {
    color: white;
}


/* h2 title style */
h2 {
    font-weight: 900;
    font-size: 22px;
}

/* overall text input area contrast adjustments */
textarea {
    resize: none; 
    overflow: hidden;
}

textarea:focus{
    border: none; 
    outline: solid 2px rgb(52, 52, 52);
    background-color: rgb(216, 216, 216);
}

/* footer appearance settings */
footer {
    height: 80px;
    width: 100%;

    background-color: #f8d152;
    border-radius: 0 0 25px 25px;

    font-size: 18px;
    color: rgb(50,50,50);

    display: flex;
    justify-content: center;
    align-items: center;

    animation: slideUp 1s ease-in-out;
}

/* body background apperance */
body {
    background-color: #72c3bd;
    margin-top: 0px;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    background-image:   linear-gradient(135deg, #72c3bd 25%, transparent 25%), 
                        linear-gradient(225deg, #72c3bd 25%, transparent 25%), 
                        linear-gradient(45deg, #72c3bd 25%, transparent 25%), 
                        linear-gradient(315deg, #72c3bd 25%, #61ada8 25%);
    background-position:  39px 0, 39px 0, 0 0, 0 0;
    background-size: 78px 78px;
    background-repeat: repeat;
    
}

/* body level 0 style definitions */
.bd_l0_maindisplay {
    min-width: 800px;
    max-width: 1100px;
    width: 80%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 50px;
    border-radius: 0 0 45px 45px;


    height: auto;
    align-content: center;
    background-color: rgb(252, 252, 252);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.bd_l0_socialmedia {
    
    min-width: 800px;
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    
    align-content: center;
    justify-content: center;
    align-items: center;

    background-color: rgb(50,50,50);
    color: white;
    display: flex;
    gap: 60px;
    
}

/* body level 1 style definitions */
.bd_l1_navigation {
    background-image: url('./links/image2.jpg');
    background-size: cover;
    background-position: center;

    min-width: 800px;
    max-width: 1100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    min-height: 280px;
    max-height: 600px;
    align-content: center;
    background-color:#f8d152;
    border-radius: 0px 0px 0px 0px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    padding-left: 40px;
    padding-right: 40px;

    border-bottom: 12px #f8d152 inset;
    
}

.bd_l1_content {
    width: 100%;
    border-top: none;
    background-color: none;
    display: flex;
    flex-wrap:wrap;
    gap: 60px;
}

/* body level 2 style definitions */
.bd_l2_logobox {
   float: left;
    width: 35%;
    max-width: 200px;

    /* background-color:black; */
}

.bd_l2_nvg_bar {
    height: 40px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 60px;
    text-align: center;
    background-color:none;
    
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.bd_l2_logobox_logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.bd_l2_content_left {
    width: 34%;  
    height: auto;
    /* background-color: rgb(77, 209, 176); */

    display: flex;
    flex-direction: column;
    gap: 0px;
}

.bd_l2_content_right {
    
    width: 56%;    
    margin-top: 0px;
    height: auto;
 
    margin-right: auto;
    

    /* background-color: rgb(220, 234, 252); */
    flex: 2.5 2.5 auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

/* body level 3 style definitions */
.bd_l3_nvg_button {
    width: 240px;
    height: 50px;
    background-color: #f8d152;
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bd_l3_statusbox_container{
    width: auto;
    height: auto;
    margin-top: 0px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    
    
    align-content: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.bd_l3_statustext_container {
    width: 100%;
    /* background-color: #61ada8; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 0px;

    animation: slideUp 1s ease-in-out;

    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.bd_l3_statuscards_container {
    width: 100%;
    /* background-color: #61ada8; */
    margin-left: auto;
    margin-right: auto;
    
    animation: slideUp 1s ease-in-out;

    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bd_l3_schedule_container {
    animation: slideUp 1s ease-in-out;
    width: 100%;
    height: auto;
    /* background-color: #61ada8; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.bd_l3_schedule_container_sublist {
    
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.bd_l3_schedule_create {
    width: 100%;
    max-width: 600px;
    align-self: center;
    height: 80px;
    /* background-color: #666666; */
    display: flex;
    
}

.bd_l3_gallery_container {
    width: 100%;
    max-width: 600px;
    align-self: center;
    height: auto;
    align-content:space-between;

    animation: slideUp 1s ease-in-out;

    /* background-color: #000000; */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.bd_l3_gallery_container div{
    padding-left: 25px;
    padding-right: 5px;
    /* background-color: #000000; */
}

/* body level 4 style definitions */
/* animated/static image for the pet */
.bd_l4_statusgraphic_container_gif {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: solid 6px white;
    border-radius: 100px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;

    animation: slideUp 1s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(76, 76, 76, 0.75);
}

.bd_l4_statusgraphic_container_tab {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;

    /* background-color: rgb(141, 46, 46); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bd_l4_schedule_create_icon      {
    color: #666666;
    width: 100px;
    height: 100%;
    padding-left: 10px;

    background-color:#f8d152;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 0 0 50%;

    border-right: solid 5px white;
}

.bd_l4_schedule_create_right {
    width: 100%;
    padding: 10px;
    background-color:#d07575;
    padding-right: 26px;

    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    border-radius: 0 0 40px 0; 
}

.bd_l4_schedule_create_right i {
    margin-top: 27px;
    top: 20px;
    color: #ffffff;
}

.bd_l4_statuscards_card {
    max-width: 100%;
    width: 100%;
    max-width: 600px;
    color: rgb(50,50,50);
    height: 40px;

    background-color:#8cac6b;
    align-self: center;
    border-radius: 0px;
    box-sizing:border-box;
    padding-left:30px;
    padding-right: 30px;
    border-radius: 20px 0 20px 20px;
    /* border: solid 2px white; */

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.bd_l4_schedule_event_card {
    width: 100%;
    max-width: 600px;
    height: 80px;

    color: rgb(50,50,50);
    font-size: 18px;
    background-color: #90b0ca;
    border-radius: 40px 0 40px 40px ;


    padding-left:32px;
    padding-right: 20px;
    align-self: center;
    box-sizing:border-box;
    /* border: solid 2px white; */

    display: flex;
    flex-direction: row;
    align-content:space-around;
    align-items: center;

    gap: 40px;
}

.bd_l4_schedule_event_card i {
    width: 100%;
    width: 20px;
}

/* body level 5 style definitions */
.bd_l5_gallery_img{
    object-fit: cover;
    vertical-align: top;
    padding-top: 0px;

    width: 24%;
    height: 40%;
    max-width: 24%;
    border: solid white 2px;   
    border-radius: 10px;
}

.bd_l5_schedule_input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    /* background-color: red; */
}

.bd_l5_schedule_input_top {

    display: flex;
    align-items: center;
    align-content: center;
    /* background-color: #61ada8; */
    gap: 20px;
}

.bd_l5_schedule_input_top textarea {
    /* background-color: red; */
    height: 20px;
    width: 100%;

    border-radius: 10px;
    border: none;

    font-size: 16px;
    padding-left: 10px;
    caret-color: rgb(50,50,50);
    
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    
    background-color:rgb(255, 255, 255);
}

.bd_l5_schedule_input_top input {
    /* background-color: red; */
    height: 20px;
    width: 220px;
    text-align: center;
    padding-right: 10px;
    border-radius: 10px;

    font-size: 16px;
    border: none;
    background-color:rgb(255, 255, 255);
}

.bd_l5_schedule_input_bot {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 100%;
}

.bd_l5_schedule_input_bot textarea {
    height: 32px;
    border-radius: 20px;
    width: 100%;
    caret-color: rgb(50,50,50);

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif rgb(50,50,50);
    text-indent: 10px;
    caret-color: transparent;

    border: none;
    background-color:rgb(255, 255, 255);
}

.bd_l5_schedule_event_card_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 8px;
    /* background-color: #acacac; */
}

.bd_l5_schedule_event_card_content_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: none;
    font-weight: bold;
    font-size: 22px;
    /* background-color: #61ada8; */
}

.bd_l5_statustext_box {
    
    height: 140px;
    width: 31%;
    color: rgb(50,50,50);

    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 25px 25px;

    background-color: #f2de9b;
    font-weight: bold;
    
    display: flex;
    flex-direction: column;
    gap: 0px;


    align-items: center;
    justify-content: space-between;
    align-content: center;

    /* border-radius: 0px 20px 20px 20px; */
    /* border: solid 2px white; */
}


/* responsive design*/
@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
  [class*="bd_l2_content"] {
    width: 100%;
  }

  [class*="bd_l5_gallery_img"] {
    max-width: 49%;
    width: 49%;
    height: 20%;
  }
}


.med-title {
    background-color: #f8d152;
    border-radius: 30px 0 30px 30px;
    font-size: 28px;
    height: 55px;
    font-weight: bolder;
    letter-spacing: px;
    color: rgb(50,50,50);
}


.breathing-animation { animation: breathe 2s ease-in-out infinite; }
  
@keyframes breathe {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
}

@keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}



/* animation to enlarge editor icon when hovered */

#editor:hover { 
    transition: all .2s ease-in-out;
    transform: scale(1.3); 
}

.bd_l3_nvg_button:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.bd_l5_gallery_img:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.5);
}