
/* remove link text color */

* {
    box-sizing: border-box;
  }
  

a {
    color: rgb(59, 59, 59);
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
}

body {
    background-color: rgb(114, 195, 189, 1);
    margin-top: 0px;
    font-family: Ubuntu, sans-serif;
    font-size: 18px;
    
}




/* body level 0 style definitions */
.bd_l0_maindisplay {
    min-width: 800px;
    max-width: 1100px;
    width: 80%;
    padding: 5px;

    height: max-content;
    align-content: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.bd_l0_socialmedia {
    width: 100%;
    height: 30px;
    align-content: center;
    justify-content: center;
    background-color: rgb(161, 161, 161);
    color: white;
    display: flex;
    gap: 20px;
    
    
    align-items: center;
}


/* body level 1 style definitions */
.bd_l1_navigation {
    width: 100%;
    height: 200px;
    align-content: center;
    background-color: rgba(248, 209, 82, 1);
    border-radius: 0px 0px 20px 20px;
    
    display: flex;
    gap: 20px;
}


/* body level 1 style definitions */
.bd_l1_content {
    width: 100%;
    
    background-color: lightgrey;
    display: flex;
    flex-wrap:wrap;
    gap: 40px;
}

.bd_l2_logobox {
    width: 200px;
    height: 200px;
    margin: none;
    align-content: center;
    margin-left: 40px;
    background-color:none;
}

.bd_l2_nvg_bar {
    height: 40px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 40px;
    text-align: center;
    background-color:none;
    
    display: flex;
    flex-direction: row;
    gap: 16px;
}


.bd_l2_logobox_logo {
    width: 200px;
    height: 200px;
    align-content: center;
    border-radius: 20px;

}


.bd_l2_content_left {
    min-width: 32%;
    height: 200px;
    background-color: none;
    
}

.bd_l2_content_right {
    min-width: 62%;
    margin-left: auto;
    height: 200px;
    background-color: rgb(220, 234, 252);
    
}



.bd_l3_nvg_button {
    width: 160px;
    height: 40px;
    background-color:rgb(255, 238, 181, 1);
    border-radius: 20px 20px 0px 0px;
    font-size: 18px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}




.bd_l3_nvg_button:hover {
    background-color:white;
}

.bd_l3_statusbox{
    width: 100%;
    height: auto;
    align-items: center;
    background-color: none;
}

.bd_l4_statusgraphic {
    width: 200px;
    border: 10px white outset;
    border-radius: 100px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: auto;
    
}




@media only screen and (max-width: 1100px) {
  /* For mobile phones: */
  [class*="bd_l2_content"] {
    width: 100%;
  }
}