.header_content {
    text-decoration: none;
}

.page_title_primary {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 55px;
    color:black;
    margin-right: 0px;
}

.page_top_branding {
    margin-left: 12.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
}

.page_header_links {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}

.page_header_links a{
    text-decoration: none;
}


.page_declaration{
    margin-top: 80px;
    tab-size: 30px;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
}


.page_header_line_1 {
    margin-top: 0px;
    width: 75%;
    height: 2px;
    color: black;
}

.page_header_line_2 {
    margin-top: 0px;
    width: 75%;
    height: 8px;
    color: black;
}

.post_body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 60px;
    border-style:ridge;
    border-width: 0px;
    border-color: darkgrey;
    text-decoration: none;
}

.post_product_tab {
    padding: 15px;
    padding-right: 1%; 
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    text-decoration: none;
}

.post_product_tab a{
    text-decoration: none;
}

.post_product_tab_large {
    padding: 15px;
    padding-right: 1%; 
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    text-decoration: none;
}

.post_product_tab_large a{
    text-decoration: none;
}

.post_product_tab_thumb {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    text-decoration: none;
}

.post_productimage_thumb {
    width: 100%;
    margin-left:5px;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: outset;
    border-color:black;;
    text-decoration: none;
}

.post_productimage_enlarged {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
}

.post_product_name {
    font-size: 23px;
    font-style: normal;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
}


.post_product_desciption {
    font-size: 15px;
    font-style: Serif;
    text-decoration:none;
    margin-top: 5px;
    margin-bottom:35px;
}


.selection_label {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
}

.button_addcart {
    margin-left: 15px;
}

.tab_addcart {
    margin-top: 25px;
}


