.header_content a{
    text-decoration: none;
}

.page_title_primary {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 55px;
    color:black;
    margin-right: 0px;
}

.page_top_branding {
    margin-left: 12.5%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 220px;
}

.page_header_links {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    color: black;
}

.page_header_links a{
    color: black;
    text-decoration: none;
}


.page_declaration{
    margin-top: 100px;
    tab-size: 30px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
}

/* Page layout lines */
.page_header_line_1 {
    margin-top: 0px;
    width: 75%;
    height: 2px;
    background-color: rgba(83, 83, 83, 0.301);
}

.page_header_line_2 {
    margin-top: 0px;
    width: 75%;
    height: 8px;
    background-color: rgba(83, 83, 83, 0.301);
}

.page_footer_line_1 {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    height: 4px;
    background-color: rgba(83, 83, 83, 0.301);
}



.post_body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-bottom: 60px;
    border-style:ridge;
    border-width: 0px;
    border-color: darkgrey;
    text-decoration: none;
}

.post_product_tab {
    padding: 5px;
    padding-right: 1%; 
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    width: 26%;
    text-decoration: none;
}

.post_product_tab:hover {
    background-color: wheat;
}



.post_product_tab a{
    text-decoration: none;
}

.post_product_tab_large {
    padding: 15px;
    padding-right: 1%; 
    padding-left: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    text-decoration: none;
}

.post_product_tab_large a{
    text-decoration: none;
}



.post_productimage_thumb {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: outset;
    border-color:black;;
    text-align: center;
}

.post_product_tab_thumb {
    width: 420px;
    background-color: yellow;
}

.post_productimage_enlarged {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 0px;
    text-decoration: none;
}

.post_product_name {
    font-size: 23px;
    font-style: normal;
    color: black;
    margin-bottom: 15px;
    text-decoration: none;
}


.post_product_desciption {
    font-size: 15px;
    font-style: Serif;
    color: black;
    margin-top: 5px;
    margin-left: 2px;
    margin-bottom:35px;
}

.post_product_desciption a{
    text-decoration: none;
}

.selection_label {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    height: 25px;
}

.selection_label:hover {
    background-color: lightgray;
}

.button_addcart {
    width: 120px;
    height: 28px;
    margin-left: 15px;
}

.button_addcart:hover {
    width: 120px;
    height: 28px;
    margin-left: 15px;
    background-color: wheat;
}

.tab_addcart {
    margin-top: 25px;
    text-align: center;
}



/*shopping cart special guidelines*/

.post_shoppingcart_tab {

    width: 660px;
    height: 2000px;
    margin-left: auto;
    margin-right: auto;

    flex: auto;
    flex-direction: column;
    gap: 20px;
}

.post_shoppingcart_tab a{
    text-decoration: none;
}

.post_shoppingcart_tab_item {
    width: 380px;
    height: 380px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    gap:20px;
}


.post_shoppingcart_product_thumb {
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    text-decoration: none;
    text-align: center;
    padding-block: 10px;
}

.img_shoppingcart_thumb {
    margin-left: auto;
    margin-right: auto;
    width: 140px;

    border-width: 1px;
    border-style: ridge;
}

.post_shoppingcart_product_desrpt {
    color: black;
    line-height: 7px;
}

.post_shoppingcart_product_price {
    text-align: center;
    font-size: 20px;
    font-style: bold;
    line-height: 10px;
}

